<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="URL" value="google.com"/>
    <test name="Personal Loan" verbose="2" preserve-order="true">
        <classes>
            <class name="org.example.ThirdTest"/>
        </classes>
    </test>
</suite>